name: generate-downloads-page

on:
  push:
    tags:
      - generate-downloads/*

jobs:
  downloads-page:
    runs-on: ubuntu-latest
    environment: git_clone
    steps:
      - name: Simple Date
        id: simple-date
        run: echo "date=$(date '+%Y-%m-%d %H:%M')" >> $GITHUB_OUTPUT
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Python dependencies
        run: python -m pip install --upgrade pip requests
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          ref: publish-downloads-dev
      - name: Update downloads page
        run: |
          cd ${{ github.workspace }}/docs
          ./generate-downloads-page.py
      - name: Add, commit and push
        uses: EndBug/add-and-commit@v9
        with:
          add: docs/downloads.md
          message: "downloads.md automatically regenerated at ${{ steps.simple-date.outputs.date }}"
          push: true
